apiVersion: v1
kind: Service
metadata:
  name: rabbitmq # Hostname 'rabbitmq'
spec:
  ports:
    - port: 5672  # AMQP Protocol (for Go apps)
      name: amqp
    - port: 15672 # Management UI (for you)
      name: management
  selector:
    app: rabbitmq

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
spec:
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3-management-alpine
          ports:
            - containerPort: 5672
            - containerPort: 15672
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: "user"
            - name: RABBITMQ_DEFAULT_PASS
              value: "password"