apiVersion: v1
kind: Service
metadata:
  name: watcher
spec:
  type: LoadBalancer
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30081
  selector:
    app: watcher
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: watcher
spec:
  replicas: 1
  selector:
    matchLabels:
      app: watcher
  template:
    metadata:
      labels:
        app: watcher
    spec:
      containers:
        - name: watcher
          image: undeadmiles-watcher:k8s # Uses the image you built earlier
          imagePullPolicy: Never
          env:
            - name: DATABASE_URL
              value: "postgres://postgres:cpre888@postgres:5432/undeadmiles?sslmode=disable"
            - name: RABBITMQ_URL
              value: "amqp://user:password@rabbitmq:5672/"