apiVersion: v1
kind: Service
metadata:
  name: notification
spec:
  type: LoadBalancer
  ports:
    - port: 8082
      targetPort: 8082
      nodePort: 30082 # Fixed port for easy access
  selector:
    app: notification
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
        - name: notification
          image: undeadmiles-notification:k8s
          imagePullPolicy: Never
          ports:
            - containerPort: 8082
          env:
            - name: DATABASE_URL
              value: "postgres://postgres:cpre888@postgres:5432/undeadmiles?sslmode=disable"
            - name: RABBITMQ_URL
              value: "amqp://user:password@rabbitmq:5672/"